<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.myDemo.myDemo000</key>
		<string>692c467b-0c91-4ade-a4f7-8c1ca397038c</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>teamID</key>
	<string>558A8JRA32</string>
	<key>compileBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
